---
import Project from "../Project.astro";
import { Icon } from "astro-icon/components";

// Import all project images
import diversiaImg from "../../assets/projects/diversia.avif";
import dualizaImg from "../../assets/projects/dualiza.avif";
import nokenImg from "../../assets/projects/noken.avif";
import illustratorImg from "../../assets/projects/ilustradora.avif";
import saasImg from "../../assets/projects/saas-blog.avif";
import portfolioImg from "../../assets/projects/portfolio.avif";
import rentalImg from "../../assets/projects/rental-cars.avif";
import webResourcesImg from "../../assets/projects/web-resources.avif";
import japanesePortfolioImg from "../../assets/projects/portfolio-japanese.avif";
import nokenStudyImg from "../../assets/projects/noken-study.avif";

interface Project {
  imageUrl: ImageMetadata;
  title: string;
  type: string;
  link: string;
  tech?: string[];
}
//https://noken-study.vercel.app/
const projects: Project[] = [
  {
    imageUrl: diversiaImg,
    title: "Diversia Interiorismo",
    type: "Website",
    link: "https://www.diversiainteriorismo.com",
    tech: [
      "Nextjs",
      "Tailwindcss",
      "Prisma",
      "Mongodb",
      "Cloudflare",
      "Vercel",
    ],
  },
  {
    imageUrl: japanesePortfolioImg,
    title: "Japanese Portfolio",
    type: "Portfolio",
    link: "https://japanese-portfolio.vercel.app/",
    tech: ["Nextjs", "Tailwindcss", "Groq"],
  },
  {
    imageUrl: nokenStudyImg,
    title: "Noken Study",
    type: "Website",
    link: "https://noken-study.vercel.app",
    tech: ["Nextjs", "Tailwindcss"], 
  },
  {
    imageUrl: webResourcesImg,
    title: "Web Resources",
    type: "Website",
    link: "https://web-recursos.vercel.app",
    tech: ["Astro", "Tailwindcss"],
  },
  {
    imageUrl: dualizaImg,
    title: "Dualiza",
    type: "Website",
    link: "https://dualiza.ieshlanz.es",
    tech: ["React", "Tailwindcss", "Threejs"],
  },
  {
    imageUrl: nokenImg,
    title: "Noken Vocabulary",
    type: "Website",
    link: "https://noken-vocabulary.vercel.app",
    tech: ["React", "Tailwindcss", "Supabase", "react-router"],
  },
  {
    imageUrl: illustratorImg,
    title: "Illustrator Amelia",
    type: "Website",
    link: "https://illustrator-web.netlify.app",
    tech: ["Astro", "Tailwindcss"],
  },
  {
    imageUrl: saasImg,
    title: "SASS Blog",
    type: "Website SASS",
    link: "https://saas-blog-nextjs.vercel.app",
    tech: ["Nextjs", "Tailwindcss", "Prisma", "Stripe", "Supabase"],
  },
  {
    imageUrl: portfolioImg,
    title: "Portfolio Nextjs",
    type: "Portfolio",
    link: "https://rogerciv.vercel.app",
    tech: ["Nextjs", "Tailwindcss"],
  },
  {
    imageUrl: rentalImg,
    title: "Rental Cars",
    type: "Website",
    link: "https://rental-cars-test.vercel.app",
    tech: ["Nextjs", "Tailwindcss", "Prisma", "Stripe", "Uploadthing"],
  },
];
---

<section class="bg-background min-h-dvh flex items-center" id="portfolio">
  <div class="container px-6 py-32 sm:py-10 mx-auto">
    <h1 class="text-3xl font-semibold text-center capitalize lg:text-4xl">
      Portfolio
    </h1>

    <p class="mt-4 text-center text-offset">
      Descubra algunos de los proyectos en los que he trabajado recientemente.
      Para ver el código y explorar más de mi trabajo, visite mi
      <a
        href="https://github.com/rogerciv"
        target="_blank"
        rel="noopener noreferrer"
        class="text-primary hover:opacity-80 inline-flex items-center"
      >
        <span>GitHub</span>
        <Icon name="Github" class="size-5 inline-block ml-1" />
      </a>
    </p>

    <div
      class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-12 md:grid-cols-2 xl:grid-cols-3"
    >
      {
        projects.map((project) => (
          <Project
            imageUrl={project.imageUrl}
            title={project.title}
            type={project.type}
            link={project.link}
            tech={project.tech}
          />
        ))
      }
    </div>
  </div>
</section>
